**/*.o
**/*.a
**/*.d
**/*.so
**/*.dylib
**/*.dynlib
**/*.sw?
RemoteSystemsTempFiles
temp/
.metadata
.settings
.cproject
.project
.pydevproject
.vscode
**/.DS_Store
**/.cache
**/.eggs
**/sigpatsearch.Rcheck/
**/sigpatsearch*.tar.gz
**/data
